@import url('https://fonts.google.com/specimen/Spinnaker');



// FONTS
$font_main: 'Spinnaker';


/* SCSS RGB Colors */
$col_ash-gray: rgba(163, 199, 189, 1);
$col_azure-web: rgba(212, 228, 225, 1);
$col_misty-rose: rgba(254, 234, 227, 1);
$col_snow: rgba(247, 243, 242, 1);
$col_eerie-black: rgba(35, 35, 35, 1);
$col_silver: rgba(184, 184, 185, 1);
$col_white: rgba(253, 253, 253, 1);

